<div class="container-fluid">
    <div class="row vertically-centered">
        <div class="col-lg-6 text-justify">
            <h1 class="text-center">BookMarket</h1>
            <p>
                En BookMarket nos apasiona conectar a los lectores con historias que transforman. Somos más que una
                tienda
                de libros en línea; somos tu puerta de entrada a un mundo de conocimiento, imaginación y descubrimiento.
                Nuestro extenso catálogo abarca desde clásicos atemporales hasta las últimas novedades literarias,
                asegurando que siempre encuentres algo que se ajuste a tus gustos y preferencias.
            </p>
            <p>
                Fundada por entusiastas de la literatura con una misión clara, en BookMarket nos comprometemos a
                ofrecerte
                una experiencia de compra excepcional. Con una interfaz intuitiva y segura, puedes explorar nuestra
                selección
                cuidadosamente curada de libros, ordenar tus favoritos con solo unos clics y recibirlos cómodamente en
                la
                puerta de tu hogar. Además, nuestro equipo está siempre disponible para brindarte recomendaciones
                personalizadas y resolver cualquier duda que puedas tener.
            </p>
            <p>
                Descubre un universo de historias esperando ser exploradas en BookMarket. Únete a nuestra comunidad de
                lectores apasionados y permite que cada página que gires te lleve a nuevas aventuras literarias.
                ¡Bienvenido
                a tu nuevo destino para encontrar y disfrutar de los mejores libros!
            </p>
        </div>

        <!-- Carrusel -->
        <div class="col-lg-6 ">
            <div id="carouselExampleSlidesOnly" class="carousel slide image" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid" src="assets/img/books-about-1.jpg" alt="BookMarket 1">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid" src="assets/img/books-about-2.jpg" alt="BookMarket 2">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid" src="assets/img/books-about-3.jpg" alt="BookMarket 3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>